.forms{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}


.forms input,textarea{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background-color: #3b3b3b;
    color: #fff;
}

.forms input{
    font-size: 1.5rem;
    border: none;
}

.forms textarea{
    font-size: 1rem;
    border: none;
}

.forms input:focus, textarea:focus  {
  outline: none;
  border: none;
}

textarea::-webkit-scrollbar {
  width: 10px; 
}

textarea::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background: #3b3b3b; 
  border-radius: 8px;
  padding: 10px;
}

.forms button{
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
}







