body{
    background-color: #000020;
    color: #ddddff;
    font-weight: bold;
    margin: 0;
    padding: 1px;
}

h1,h2,h3,ul,li,p,a{
    margin: 0;
}

input{
    border: none;
}

.container{
    max-width: 1050px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

*{
    box-sizing: border-box;
}










